# The `service` block is the name of the service
service: first-serverless-api

frameworkVersion: '2'

# The `provider` block defines where your service will be deployed
provider:
  name: aws
  runtime: nodejs12.x
  iamRoleStatements:
    - Effect: Allow


plugins:
  - serverless-offline

package:
  individually: true

functions:
  helloWorld:
    handler: handler.helloWorld
    events:
      - http:
          path: /
          method: GET
          cors: true
  getParams:
    handler: handler.getParams
    events:
      - http:
          path: create/{query?}
          method: POST
          cors: true

