# Welcome to serverless. Read the docs
# https://serverless.com/framework/docs/

# The `service` block is the name of the service
service: first-serverless-api

frameworkVersion: '2'

# The `provider` block defines where your service will be deployed
provider:
  name: aws
  runtime: nodejs12.x

plugins:
  - serverless-offline

package:
  individually: true

functions:
  helloWorld:
    handler: handler.helloWorld
    events:
      - http:
          path: /
          method: GET
          cors: true
  getParams:
    handler: handler.getParams
    events:
      - http:
          path: create{ID?}
          method: GET
          cors: true
          request:
              parameter:
                storeid: true
                itemstatus: true
