# Welcome to serverless. Read the docs
# https://serverless.com/framework/docs/

# Serverless.yml is the configuration the CLI
# uses to deploy your code to your provider of choice

# The `service` block is the name of the service
service: first-serverless-api

frameworkVersion: '2'

# The `provider` block defines where your service will be deployed
provider:
  name: aws
  runtime: nodejs12.x

plugins:
  - serverless-offline

functions:
  hello:
    handler: handler.helloWorld
    events:
      - http:
          path: /
          method: get
          cors: true
